.debug {
  border: 1px solid red;
}

.jazzmin-page {
  background: #e1e0de;
}
.jazzmin-page img {
  border-radius: 10%;
  width: 200px;
}
.jazzmin-page .card-body {
  background: #686868;
}
.jazzmin-page .card-body {
  color: #e1e0de;
}
.jazzmin-page button[type=submit] {
  background: #7c332c;
  color: #e1e0de;
  border: 4px solid #7c332c !important;
  font-weight: bold;
  margin-bottom: 15px;
}
.jazzmin-page button[type=submit]:hover, .jazzmin-page button[type=submit]:focus, .jazzmin-page button[type=submit]:active {
  background: rgba(104, 104, 104, 0) !important;
  color: #7c332c !important;
}
.jazzmin-page .input-group input:focus {
  border-color: #7c332c;
}
.jazzmin-page .callout.callout-danger a:hover {
  color: #2b2b2b !important;
}
.jazzmin-page .login-box-msg.small {
  font-size: 12px;
  padding-bottom: 5px;
}
.jazzmin-page .login-box-msg a {
  font-weight: bold;
  color: #7c332c;
  text-decoration: underline;
}
.jazzmin-page .login-box-msg a:hover {
  color: #7c332c;
}
.jazzmin-page .input-group.is-invalid {
  border: 2px solid red;
  border-radius: 5px;
}

.content-wrapper {
  background-color: #e1e0de;
}

.navbar-white, .main-footer {
  background-color: #b5b5b5 !important;
  color: #2b2b2b;
}

a {
  color: #7c332c !important;
  font-weight: bold;
  duration: 0.2s;
}
a:hover {
  color: #2b2b2b !important;
}

[class*=sidebar-dark-] {
  background-color: #2b2b2b;
}
[class*=sidebar-dark-] a {
  color: #e1e0de !important;
}
[class*=sidebar-dark-] a:hover {
  color: #b5b5b5 !important;
}

.btn-success {
  background-color: #7c332c;
  border-color: #7c332c;
  color: #e1e0de !important;
  font-weight: bold;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
  background-color: #686868 !important;
  border-color: #686868 !important;
  color: #e1e0de;
}

.btn-info, .btn-secondary {
  background-color: #686868;
  border-color: #686868;
  color: #e1e0de !important;
  font-weight: bold;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background-color: #b5b5b5 !important;
  border-color: #b5b5b5 !important;
  color: #e1e0de;
}

.btn-primary, .btn-danger {
  background-color: #2b2b2b;
  border-color: #2b2b2b;
  color: #e1e0de !important;
  font-weight: bold;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  background-color: #686868 !important;
  border-color: #686868 !important;
  color: #e1e0de !important;
}

.nav-link.active, .select2-results__option--highlighted {
  background-color: rgba(124, 51, 44, 0.5) !important;
}

.collapsible-header:hover {
  background-color: rgba(124, 51, 44, 0.8) !important;
}

input[type=checkbox], input[type=radio] {
  accent-color: #7c332c;
}

.selector-chosen h2 {
  background-color: #7c332c;
}

.calendar td.selected a {
  background-color: #686868;
}

.calendar caption, .clockbox h2 {
  background-color: #686868;
  color: #e1e0de;
}

.select2-selection__choice__display {
  color: #2b2b2b !important;
}

input:focus-visible, textarea:focus-visible, select:focus-visible {
  outline: 2px solid #7c332c !important;
}

@media screen and (max-width: 768px) {
  .container-fluid > .row > div:nth-child(1) {
    flex-direction: column !important;
  }
  .container-fluid > .row > div:nth-child(1) h1 {
    margin-right: 0 !important;
    padding-right: 0 !important;
  }
  .container-fluid > .row > div:nth-child(1) ol {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }
  .container-fluid > .row > div:nth-child(2) {
    justify-content: flex-start !important;
  }
}
.w-110 {
  width: 110px;
}

.field-notes > textarea {
  height: 37px;
}/*# sourceMappingURL=custom.css.map */