.debug {
  border: 1px solid red;
}

.debug {
  border: 1px solid red;
}

.jazzmin-page {
  background: #0c2110;
}
.jazzmin-page img {
  width: 200px;
}
.jazzmin-page .card-body {
  background: #010d04;
  color: #fefefe;
}

a.dropdown-item:active {
  background-color: #0c2110 !important;
  color: #fefefe !important;
}

.content-wrapper {
  background-color: #fefefe;
}

a {
  color: #0c2110 !important;
  font-weight: bold;
  duration: 0.2s;
}
a:hover {
  color: #010d04 !important;
}

[class*=sidebar-dark-] {
  background-color: #0c2110;
}
[class*=sidebar-dark-] a {
  color: #fefefe !important;
}
[class*=sidebar-dark-] a:hover {
  color: #b79651 !important;
}

.btn-success {
  background-color: #b79651;
  border-color: #b79651;
  color: #010d04 !important;
  font-weight: bold;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
  background-color: #010d04 !important;
  border-color: #010d04 !important;
  color: #fefefe !important;
}

.btn-info, .btn-secondary {
  background-color: #8bb138;
  border-color: #8bb138;
  color: #010d04 !important;
  font-weight: bold;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background-color: #010d04 !important;
  border-color: #010d04 !important;
  color: #fefefe !important;
}
.btn-primary, .btn-danger {
  background-color: #0c2110;
  border-color: #0c2110;
  color: #fefefe !important;
  font-weight: bold;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  background-color: #b79651 !important;
  border-color: #b79651 !important;
  color: #010d04 !important;
}

.select2-results__option--highlighted {
  background-color: rgba(12, 33, 16, 0.5) !important;
}

.nav-link.active {
  background-color: #b79651 !important;
  color: #010d04 !important;
  transition-duration: 0.2s;
}
.nav-link.active:hover {
  color: rgba(1, 13, 4, 0.5) !important;
}

.collapsible-header:hover {
  background-color: rgba(12, 33, 16, 0.8) !important;
}

input[type=checkbox], input[type=radio] {
  accent-color: #0c2110;
}

.selector-chosen h2 {
  background-color: #0c2110;
}

.calendar td.selected a {
  background-color: #0c2110;
}

.calendar caption, .clockbox h2 {
  background-color: #0c2110;
  color: #fefefe;
}

.clockbox a:hover {
  background-color: #0c2110;
  color: #fefefe !important;
}

@media screen and (max-width: 768px) {
  .container-fluid > .row > div:nth-child(1) {
    flex-direction: column !important;
  }
  .container-fluid > .row > div:nth-child(1) h1 {
    margin-right: 0 !important;
    padding-right: 0 !important;
  }
  .container-fluid > .row > div:nth-child(1) ol {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }
  .container-fluid > .row > div:nth-child(2) {
    justify-content: flex-start !important;
  }
}
@media screen and (max-width: 500px) {
  .content {
    padding: 1rem 0 !important;
  }
  #changelist-search > .form-group {
    width: 100% !important;
  }
  .container-fluid > .row > div:nth-child(2) {
    justify-content: center !important;
  }
  .actions button {
    margin-left: 0 !important;
  }
  .actions .select2, .actions > label:nth-child(1) {
    width: 100% !important;
  }
  .actions > span {
    margin-left: 0 !important;
    display: block !important;
  }
  input[type=number] {
    width: 80px !important;
  }
}
.sidebar {
  overflow: hidden !important;
}

.field-en textarea, .field-es textarea {
  height: 50px !important;
}

.form-group.field-es.field-en > .row, .form-group.field-description_es.field-description_en > .row {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr) !important;
  grid-template-areas: "es_label en_label" "es_textarea en_textarea" !important;
}
.form-group.field-es.field-en > .row label, .form-group.field-description_es.field-description_en > .row label {
  max-width: 100% !important;
}
.form-group.field-es.field-en > .row label[for=id_es], .form-group.field-es.field-en > .row label[for=id_description_es], .form-group.field-description_es.field-description_en > .row label[for=id_es], .form-group.field-description_es.field-description_en > .row label[for=id_description_es] {
  grid-area: es_label !important;
}
.form-group.field-es.field-en > .row label[for=id_en], .form-group.field-es.field-en > .row label[for=id_description_en], .form-group.field-description_es.field-description_en > .row label[for=id_en], .form-group.field-description_es.field-description_en > .row label[for=id_description_en] {
  grid-area: en_label !important;
}
.form-group.field-es.field-en > .row label[for=id_es] + div, .form-group.field-es.field-en > .row label[for=id_description_es] + div, .form-group.field-description_es.field-description_en > .row label[for=id_es] + div, .form-group.field-description_es.field-description_en > .row label[for=id_description_es] + div {
  grid-area: es_textarea !important;
}
.form-group.field-es.field-en > .row label[for=id_en] + div, .form-group.field-es.field-en > .row label[for=id_description_en] + div, .form-group.field-description_es.field-description_en > .row label[for=id_en] + div, .form-group.field-description_es.field-description_en > .row label[for=id_description_en] + div {
  grid-area: en_textarea !important;
}
@media screen and (max-width: 700px) {
  .form-group.field-es.field-en > .row, .form-group.field-description_es.field-description_en > .row {
    grid-template-columns: 1fr !important;
    grid-template-areas: "es_label" "es_textarea" "en_label" "en_textarea" !important;
  }
}/*# sourceMappingURL=custom.css.map */